{% extends 'rider/layouts/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Paid Orders</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ orders.count }}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->


              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">
                      <div class="card-body">
                          <h5 class="card-title">My Loan Account Balance</h5>
                          <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                  <i class="bi bi-currency-dollar"></i>
                              </div>
                              <div class="ps-3">
                                  {% if loan_account %}
                                      <h6>{{ total_loan_amount }}</h6>
                                  {% else %}
                                      <h6>$0.00</h6>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- End Revenue Card -->


            <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">

                      <div class="card-body">
                          <h5 class="card-title">Pending Contributions (shares)</h5>

                          <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                  <i class="bi bi-currency-dollar"></i>
                              </div>
                              <div class="ps-3">
                                  <h6>{{ pending_savings }}</h6>
                              </div>
                          </div>
                      </div>

                  </div>
              </div><!-- End Revenue Card -->

              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">

                      <div class="card-body">
                          <h5 class="card-title">Approved Contributions (shares)</h5>

                          <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                  <i class="bi bi-currency-dollar"></i>
                              </div>
                              <div class="ps-3">
                                  <h6>{{ approved_savings }}</h6>
                              </div>
                          </div>
                      </div>

                  </div>
              </div><!-- End Revenue Card -->


          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>
    {% endblock %}