{% extends 'rider/layouts/base.html' %}

{% block content %}
<div class="container my-3">
  <h3>Track Delivery - Order #{{ order_delivery.order.id }}</h3>
  <div class="card">
    <div class="card-body">
      <p class="card-text"><b>Status:</b> {{ order_delivery.get_status_display }}</p>
      <p class="card-text"><b>Pickup Station:</b> {{ order_delivery.station }}</p>
      <p class="card-text"><b>Delivery Date:</b> {{ order_delivery.created|date:'d M Y, H:i A' }}</p>
    {% if order_delivery %}
      {% if not order_delivery.picked and order_delivery.order.arrived %}
            <a href="{% url 'rider:confirm-picked' order_delivery.pk %}" class="btn btn-success">
              Confirm Received
            </a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}