{% extends 'rider/layouts/base.html' %}
{% block title %}Product Loan Payment{% endblock %}
{% block content %}

    <section class="section">
      <div class="row">
          <div class="col-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                   Product Loan Payment
              </h5>

              <!-- General Form Elements -->
              <form method="post">
                {% csrf_token %}
                {% include 'components/form-errors.html' with form=form %}
                  <span class="text-muted">{{ loan_order.product_loan.product.name }}</span><br/>
                  <span class="text-muted">Amount to be paid: {{ loan_order.product_loan.monthly_installment }}</span><br/>
                  <span class="text-muted">Remaining Amount: {{ loan_order.get_remaining_amount }}</span>
                {% include 'components/main-form.html' with form=form %}
                <div class="row mt-3">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary shadow">
                        Pay
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          </div>
      </div>
    </section>
    {% endblock %}