{% extends 'supplier/layouts/base.html' %}

{% block content %}
 
  <div class="container-fluid my-5">
    <div class="card mb-5">
      <div class="card-header" style="background-color: #1c2238;">
        <h1 class="text-center mb-0 text-white">Paid Tenders</h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
                   <table class="table table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <!-- <th>Supplier</th> -->
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total amount</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
            {% for tender in tenders %}
              <tr>
                <!-- <td>{{ tender.user.username }}</td> -->
                <td>{{ tender.product }}</td>
                <td>{{ tender.quantity }}</td>
                <td>{{ tender.total }}</td>
                <td>{{ tender.tender_status }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4" class="text-center">No rejected supply tenders yet.</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}