 <div class="card">
    <div class="card-body">
      <h5 class="card-title">FAQs</h5>

      <!-- Default Accordion -->
      <div class="accordion" id="accordionExample">
          {% for faq in object_list %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne-{{ faq.pk }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ faq.pk }}" aria-expanded="true" aria-controls="collapseOne">
                {{ faq.name }}
            </button>
          </h2>
          <div id="collapseOne-{{ faq.pk }}" class="accordion-collapse collapse show" aria-labelledby="headingOne-{{ faq.pk }}" data-bs-parent="#accordionExample">
            <div class="accordion-body">
             {{ faq.content|safe }}
            </div>
          </div>
        </div>
          {% endfor %}
      </div>

    </div>
  </div>