{% extends 'dispatch/layouts/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Pending Loan Orders</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-truck"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ pending_loan_order.count }}</h6>
                      <a href="{% url 'sales:loan-order-list' %}" class="btn btn-primary btn-sm shadow">Order List</a>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->


            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Pending Orders </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-truck"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ pending_order.count }}</h6>
                      <a href="{% url 'sales:order-list' %}" class="btn btn-primary btn-sm shadow">Order List</a>

                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>
    {% endblock %}