{% extends 'finance/layouts/base.html' %}

{% block title %}Pending Savings List{% endblock %}

{% block content %}
<section class="section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Approved Savings List</h5>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col"><small>User</small></th>
                  <th scope="col"><small>Amount</small></th>
                  <th scope="col"><small>Status</small></th>
                  <th scope="col"><small>Action</small></th>
                </tr>
              </thead>
              <tbody>
              {% for saving in savings_list %}
                {% if saving.status == 'PG' %}
                <tr>
                  <td><small>{{ saving.user }}</small></td>
                  <td><small>{{ saving.amount }}</small></td>
                  <td><small>{{ saving.status }}</small></td>
                  <td>
                    <form method="post" >
                      {% csrf_token %}
                      <input type="hidden" name="saving_id" value="{{ saving.id }}">
                      <button type="submit" class="btn btn-sm btn-primary">Approve</button>
                    </form>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
